pkgbase = osbuild-composer
	pkgdesc = An HTTP service for building bootable OS images
	pkgver = 121
	pkgrel = 1
	url = https://www.osbuild.org
	arch = x86_64
	license = Apache
	checkdepends = go
	makedepends = go
	makedepends = systemd
	depends = dnf
	depends = qemu
	depends = osbuild
	depends = systemd
	depends = btrfs-progs
	source = osbuild-composer-121.tar.gz::https://github.com/osbuild/osbuild-composer/archive/refs/tags/v121.tar.gz
	sha256sums = ac320efbb67ed2bba88cd0cc3efec29ec1070a3922e0e5623edd6edd5f86f051

pkgname = osbuild-composer
