pkgbase = osbuild-composer
	pkgdesc = An HTTP service for building bootable OS images
	pkgver = 109
	pkgrel = 1
	url = https://www.osbuild.org
	arch = x86_64
	license = Apache
	checkdepends = go
	makedepends = go
	makedepends = systemd
	depends = dnf
	depends = qemu
	depends = osbuild
	depends = systemd
	depends = btrfs-progs
	source = osbuild-composer-109.tar.gz::https://github.com/osbuild/osbuild-composer/archive/refs/tags/v109.tar.gz
	sha256sums = b5491caee53d594b5c5af8700e27d59514f4ed6d11c0add627a5b8afdc8899a9

pkgname = osbuild-composer
