pkgbase = osbuild-composer
	pkgdesc = An HTTP service for building bootable OS images
	pkgver = 143
	pkgrel = 1
	url = https://www.osbuild.org
	arch = x86_64
	license = Apache-2.0
	checkdepends = go
	makedepends = go
	makedepends = systemd
	depends = dnf
	depends = qemu
	depends = osbuild
	depends = systemd
	depends = btrfs-progs
	source = osbuild-composer-143.tar.gz::https://github.com/osbuild/osbuild-composer/archive/refs/tags/v143.tar.gz
	sha256sums = 48823842dc175813c10810e7474355df2ee9563fda6f19ae90a6919b412b7c6a

pkgname = osbuild-composer
